################################
# FRONTEND (React / Node)
################################
node_modules/
.env
.env.local
.env.development
.env.production

################################
# BACKEND (.NET / Visual Studio)
################################
bin/
obj/
.vs/
*.user
*.suo

################################
# BUILD & CACHE
################################
*.log
*.cache
*.db-shm
*.db-wal

################################
# OS
################################
.DS_Store
Thumbs.db
